body {
    background-color: #FBF7F7; 
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.container {
    background-color: #FFE5EA; 
    border-radius: 10px;
    padding: 20px;
    width: 80%;
    max-width: 600px;
}

.menu {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    text-align: center;
}

.menu a {
    margin: 0 10px;
    padding: 10px 15px;
    text-decoration: none;
    background-color: #ff6699;
    border-radius: 5px;
    transition: background-color 0.3s;
    text-align: center;
}

.menu a:hover {
    background-color: #cc0066;
}

.home-link,
.about-link,
.labs-link{
    color: #ddd;
}

.content {
    padding: 20px;
}

.home-content {
    background-color: #FFE5EA; 
    border-radius: 10px;
    padding: 20px;
    text-align: center; 
}


h2 {
    color: #F3AAB5;
}
.course-form {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea,
.form-group select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form-actions {
    text-align: center;
}

.form-actions button {
    background-color: #ff6699;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.form-actions button:hover {
    background-color: #cc0066;
}

.delete-btn {
    background-color: #ff3333;
}

.delete-btn:hover {
    background-color: #cc0000;
}

h1, h2 {
    color: #d94f70;
}
h3{
    color: #6ab0e2;

}

input, textarea, select, button {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #ff6699;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #cc0066;
}

textarea {
    font-family: monospace;
    font-size: 14px;
}

.editor-actions {
    display: flex;
    justify-content: space-between;
}

#results {
    margin-top: 20px;
}

.hidden {
    display: none;
}

.forgot {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.exercise {
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
    margin-bottom: 10px;
}